.home-product {
	padding-top: 160px;
}

.home-product-header {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.home-product-header h3 {
	font-weight: 600;
	font-size: 36px;
	line-height: 170%;
	max-width: 337px;
	color: #333333;
}

.home-product-header p {
	max-width: 473px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9c9c9c;
}

.home-product-list{
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    width: 100%;
}

@media screen and (max-width: 768px) {
	.home-product {
		padding-top: 60px;
	}
	.home-product-header{
		flex-direction: column;
	}
}

@media screen and (max-width: 425px) {
	.home-product-header h3 {
		font-size: 24px;
	}

	.home-product-header p {
		font-size: 16px;
		line-height: 1.4;
	}

	.home-product-list{
		margin-top: 20px;
	}
}
