.home-about{
    margin-top: 160px;
}

.home-about-main-text{
    margin-top: 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 170%;
    color: #333333;
}

.home-about .portfolio-post{
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .home-about{
        margin-top: 60px;
    }
    .home-about-main-text{
        font-size: 28px;
    }
}
@media screen and (max-width: 425px) {
    .home-about-main-text{
        font-size: 20px;
    }
}