.home-hero-top {
	margin-top: 191px;
	position: relative;
	width: 100%;
}

.home-hero-title {
	font-weight: 700;
	font-size: 72px;
	line-height: 1.4;
	color: #333333;
	max-width: 681px;
	width: 100%;
}

.home-hero-line {
	height: 2px;
	width: 683px;
	position: absolute;
	right: 0;
	top: 50px;
	background: #333333;
}

.home-hero-left {
	position: absolute;
	top: 160px;
	right: 142px;
}

.home-hero-left-boxes {
	display: flex;
	gap: 57px;
	flex-direction: column;
	text-align: center;
	padding: 40px 48px;
	color: #fff;
	background: #2c3878;
	width: 252px;
}

.home-hero-left-boxes .number {
	font-weight: 400;
	font-size: 52px;
	line-height: 1.6;
}

.home-hero-left-boxes span {
	font-size: 16px;
	line-height: 160%;
}

.home-hero-left-text {
	position: absolute;
	top: 30px;
	right: -210px;
	display: flex;
	width: 178px;
	flex-direction: column;
	transform: rotate(-90deg);
	font-weight: 500;
	line-height: 150%;
	color: #333333;
}

.home-hero-image {
	margin-top: 46px;
	position: relative !important;
	height: auto !important;
	width: 100% !important;
	z-index: -1;
}

@media screen and (max-width: 1200px) {
	.home-hero-line {
		display: none;
	}

	.home-hero-left {
		top: 330px;
	}

	.home-hero-image {
		margin-top: 241px;
	}
}

@media screen and (max-width: 768px) {
	.home-hero-title {
		font-size: 64px;
	}

	.home-hero-left {
		position: relative;
		top: 0;
		margin-top: 50px;
	}

	.home-hero-left-boxes {
		position: absolute;
		right: -80px;
	}

	.home-hero-image {
		margin-top: 200px;
		height: 350px !important;
		object-fit: cover;
	}
}

@media screen and (max-width: 425px) {
	.home-hero-top {
		margin-top: 150px;
	}
	.home-hero-title {
		font-size: 36px;
	}

	.home-hero-image {
		margin-top: 550px;
	}
}

@media screen and (max-width: 320px) {
	.home-hero-left {
		right: initial;
	}
	.home-hero-left-boxes {
		position: relative;
	}

	.home-hero-left-text {
		position: relative;
		transform: rotate(0deg);
		right: initial;
		width: 100%;
		order: 1;
	}

	.home-hero-left-boxes{
		width: 100%;
		gap: 30px;
		right: initial;
		order: 2;
	}

	.home-hero-image {
		margin-top: 50px;
		height: 200px !important;
	}
}
