.team-header {
	margin-top: 200px;
}

.team-header-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}



.team-header-inner img {
	position: relative !important;
	width: 100% !important;
	height: auto !important;
}
