.services-header {
	margin-top: 200px;
}

.services-header-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services-header-inner img {
	position: relative !important;
	width: 100% !important;
	height: auto !important;
}


@media screen and (max-width: 768px) {
    .services-header-inner p {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 425px) {
    .services-header {
        margin-top: 160px;
    }
}
