.about-header {
	margin-top: 200px;
}

.about-header-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-header img {
	position: relative !important;
	height: auto !important;
	width: 100% !important;
}

@media screen and (max-width: 768px) {
	.about-header {
		margin-top: 150px;
	}

	.about-header span {
		margin-bottom: 30px;
	}
}


