* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #9c9c9c;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

.page-text {
	max-width: 518px;
	font-size: 18px;
	line-height: 160%;
	text-align: center;
	color: #000000;
	margin-bottom: 57px;
	display: block;
}

.page-section {
	margin-top: 100px;
}

@media screen and (max-width: 425px) {
	.page-text {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.4;
	}

	.page-section {
		margin-top: 60px;
	}
}
