.portfolio-post {
	display: grid;
	grid-template-columns: 1fr 223px;
	justify-content: space-between;
	gap: 20px;
}

.portfolio-post-main-image {
	position: relative !important;
	max-width: 883px !important;
	width: 100% !important;
	height: auto !important;
}

.portfolio-post-info {
	min-width: 223px;
	width: 223px;
}

.portofolio-post-author-card {
	background-color: #fff;
	width: 276px;
	filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.05));
	padding: 17px 20px;
	gap: 20px;
	display: flex;
	align-items: center;
	margin-left: -170px;
	margin-top: 27px;
	margin-bottom: 80px;
}

.portofolio-post-author-card img {
	position: relative !important;
	width: 50px !important;
	height: 50px !important;
	border-radius: 50%;
}

.portfolio-post-author-name {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	color: #000000;
}

.portolio-post-author-job {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: #9c9c9c;
}

.portfolio-post-text {
	display: block;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9c9c9c;
}

@media screen and (max-width: 768px) {
	.portfolio-post {
		grid-template-columns: 1fr;
	}

	.portfolio-post-info{
		max-width: 460px;
		width: 100%;
	}

	.portofolio-post-author-card{
		margin-left: 0px;
		margin-bottom: 20px;
	}
}
